.App {
  text-align: center;
  padding: 50px;
}

.text {
  color: aliceblue;

}

.title {

  max-width: 100%;
  max-height: 100%;
  color: rgb(26, 27, 27);
  background-color: white;
  border: none;
  border-style: groove;
  border-color: black;
}

.footer {

  color: rgb(26, 27, 27);
  background-color: white;
  border: none;
  border-style: groove;
  border-color: black;
}

select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 5px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 2em;
  width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
}


select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;

}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

body {
  background-color: lightgray;
  font: bold 1em/100% "Helvetica Neue", Comic, sans-serif;
  padding: 1em 0;
  text-align: center;
}


:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.forms {
  display: flex;
  flex-direction: row;
}


.form {
  border: none;
  background-color: #74caec;
  border-style: groove;
  border-color: black;
  padding: 50px;
  text-align: left;
  flex-direction: column;
  display: flex;
  width: 800px;
  height: 500px;

}


.loadSchematronFile {
  align-items: center;
  background-clip: padding-box;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: baseline;
  width: 300px;
  height: 50px;
}

.loadSchematronFile:hover,
.loadSchematronFile:focus {
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}


.result {
  width: 790px;
  height: 250px;
  min-width: 790px;
  min-height: 250px;
  max-width: 790px;
  max-height: 250px;

}

.grid{

  size-adjust: inherit;

}

.grid-container--fill {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-container--fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}



.checkButton{
  align-items: center;
  background-clip: padding-box;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
  height: 50px;
}

.checkButton:hover,
.checkButton:focus {
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.checkButton:hover {
  transform: translateY(-1px);
}

.checkButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.updateSchematronButton{
  flex-direction: row;
  align-items: center;
  background-clip: padding-box;
  background-color: grey;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 150px;
  height: 50px;
}

.updateSchematronButton:hover,
.updateSchematronButton:focus {
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.updateSchematronButton:hover {
  transform: translateY(-1px);
}

.updateSchematronButton:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.reset{
  flex-direction: row;
  display: flex;
}